<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <title>Login Page</title>
      {% load static %}
        <link rel="stylesheet" href="{% static '/css/style.css' %}">
   </head>
   <body>
      <!-- Begin Page Content -->
      <div id="container">
        <!--/change form action for the django implementation-->
         <form action="" method="post">
            <label for="username">Matric Number:</label>
            <input type="text" id="username" name="username" placeholder="Matric Number">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Password">
            <label for="token">Token:</label>
            <input type="password" id="token" name="token" placeholder="Token">
            <div id="lower">
               <input type="submit" value="Login" id="login-button">
               <input type="submit" value="Register" id="register-button">
            </div>
            <!--/ lower-->
         </form>
      </div>
      <!--/ container-->
      <!-- End Page Content -->
   </body>
</html>
